<%- include('../partials/header'); -%>

<div class="container">
	<div class="row">
		<h1 style="text-align:center">Add New Patient</h1>
		<div style="width:40% ;margin:25px auto ">
			<div class="well">
			<form action="addPatient" method="POST">
			<div class="form-group">
				<label >Enter Patient's Fullname</label>
				<input class="form-control" type="text" placeholder="enter name" name="pname" required>
			</div>
			<div class="form-group">
				<label >Enter Age</label>
				<input class="form-control" type="number" placeholder="enter Age" name="page" step="1" min=0 oninput="validity.valid||(value='');" required>
			</div>
			<div class="form-group">
				<label >Select Gender</label>
				<select class="form-control" name="pgender" id="pgender">
					
  						<option value="M">Male</option>
  						<option value="F">Female</option>
  					
				</select>
			</div>
			<div class="form-group">
				<label >Enter Email Address</label>
				<input class="form-control" type="email" placeholder="enter Email" name="email" required>
			</div>
			
			<div class="form-group">
				<label >Enter Residential Address</label>
				<input class="form-control" type="text" placeholder="enter Address" name="paddr" required>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block">submit</button>
			</div>
				
				
				
	
			</form>
			</div>
			<a class="btn btn-warning btn-lg" href="/getPatient">Go back!</a>
		</div>


	</div>

</div>




<%- include('../partials/footer'); -%>