<%- include('../partials/header'); -%>

<div class="container">
	<div class="row">
		<h1 style="text-align:center">Add New Appointment</h1>
		<div style="width:40% ;margin:25px auto ">
			<div class="well">
			<form action="addAppointment" method="POST">
			<div class="form-group">
				<label>Enter Patient's Fullname</label>
				<input class="form-control" type="text" placeholder="enter name" name="pname">
			</div>
			<div class="form-group">
				<label>Enter Reason</label>
				<input class="form-control" type="text" placeholder="enter Reason" name="reason">
			</div>
			<div class="form-group">
				<label>Select Date and Time</label>
				<input class="form-control text-center" type="datetime-local" name="ddate">
			</div>

			

			<div class="form-group">
				<label for="name">select Doctor</label>
				<select class="form-control" name="dname" id="name">
					<%doctor.forEach(function(doctor){%>
  						<option value="<%=doctor.dname%>"><%=doctor.dname%></option>
  					<%});%>
				</select>
			</div>

 
			
			
			
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block">submit</button>
			</div>

				
				
				
	
			</form>
			</div>
			<a class="btn btn-warning btn-lg" href="/getAppointment">Go back!</a>
		</div>


	</div>

</div>


<%- include('../partials/footer'); -%>